@use '/src/style/variables';
@use '/src/style/colors';

.container {
  background-color: colors.$grey-0;
  border-bottom: 1px solid colors.$grey-1;
  height: variables.$navbar-height;
  width: 100%;
  position: fixed;
  display: flex;

  .brand_box {
    width: variables.$sidebar-width;
    height: 100%;
  }

  .tab_container {
    margin: 4px;
    display: flex;
    align-items: center;
  }
}
