$grey-0: #e7e7e6;
$grey-1: #c0c0c0;
$grey-2: #a2a2a2;
$grey-3: #848484;
$grey-4: #666666;
$grey-5: #171717;

$gold-0: #faf8f1;
$gold-1: #faeab1;
$gold-2: #e5ba73;
$gold-2: #c58940;

$green-0: #e6e5a3;
$green-1: #a9af7e;
$green-2: #7d8f69;
$green-3: #557153;
